/* The snackbar - position it at the bottom and in the middle of the screen */
.container {
  position: fixed; /* Sit on top of the screen */
  width: 100vw;
  bottom: 20px; /* 30px from the bottom */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // margin-left: -125px; /* Divide value of min-width by 2 */
  padding: 10px 40px 10px 20px;
}
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  z-index: 100; /* Add a z-index if needed */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  &.error {
    color: rgb(255, 80, 80); 
    background-color: rgb(253, 253, 253);
  }
  &.success {
    color: rgba(26, 245, 37, 0.986); 
    background-color: rgb(255, 255, 255);
  }
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}