<button class="cybr-btn disable-select">
    {{label}}
    <span aria-hidden>_</span>
    <span aria-hidden class="cybr-btn__glitch">{{label}}</span>
    <span aria-hidden class="cybr-btn__tag">15</span>
</button>