<div class="status {{status}} disable-select" nosingleclick (dblclick)="showEditStatusContainer($event)">
    {{status}}
    <div class="absolute" *ngIf="isInEditState">
        <ng-container *ngFor="let t of statuses">
            <div nosingleclick class="type {{t}} disable-select" (click)="selectStatus($event,t)">
                {{t}}
            </div>
        </ng-container>
    </div>
</div>
