@import '../../styles/all-styles.scss';
.status {
    // width: 50px;
    // height: 20px;
    position: relative;
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    margin-right: 20px;
    cursor: pointer;
    &.delete {
    }   
    &.get {
    }
    &.head {
    }   
    &.jsonp {
    }   
    &.options {
    }   
    
}
.absolute {
    position: absolute;
    overflow: scroll;
    max-height: 180px;
    width: 80px;
    z-index: 10;
    top: -25px;
    left: 60px;
    display: grid;
    grid-gap: 15px;
    /* padding: 15px 30px 15px 15px; */
    padding: 20px 0 20px 0;
    border-radius: 8px;
    // box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;background: rgba(255, 255, 255, 0.9);
    div {
        cursor: pointer;
        border-radius: 2px;
    }
}