@import "../../styles/all-styles.scss";

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 4px;
    background: rgb(218, 236, 255);
    border-color: #303030;
    transition: max-height 0.2s ease-out;
    &.get {
        background: rgba(97,175,254,.1);
        border-color: #61affe;
        .summary {
            border-color: #61affe;
        }
    }
    &.put {
        background: rgba(252,161,48,.1);
        border-color: #fca130;
        .summary {
            border-color: #b16f23;
        }
    }
    &.post {
        background: rgba(73,204,144,.1);
        border-color: #49cc90;
        .summary {
            border-color: #49cc90;
        }
    }
    &.delete {
        background: rgba(249,62,62,.1);
        border-color: #f93e3e;
        .summary {
            border-color: #ae2c2c;
        }
    }
    .summary {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        padding-right: 20px;
        img {
            margin-right: 20px;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: rotate(0deg);
            &.rotate {
                transform: rotate(180deg);
            }
        }
    }
    .inner {
        max-height: 0;
        height: 0.1px;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        // transition: max-height 1s cubic-bezier(0.19, 1, 0.22, 1);
        &.open {
            max-height: 800px;
            height: 100%;
            overflow: scroll;
            // transition: max-height 0.5s ease-out;
            transition: max-height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        .section {
            padding: 20px;
            .param {
                @include fjc();
                margin-bottom: 10px;
                .add {
                    margin: 10px 20px 0 0;
                    text-align: center;
                    padding: 5px;
                    padding-bottom: 7px;
                    cursor: pointer;
                    // font-size: 20px;
                    border-radius: 4px;
                    border: 1px dotted rgba(51, 51, 51, 0.6);
                    color: #000;
                    background: rgba(191, 255, 191, 0.6);
                    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }
            }
        }
        .seperator {
            padding: 20px;
            background-color: white;
            color: black;
            text-align: left;
            &.small {
                padding: 10px;
                padding-left: 30px;
                // font-size: 15px;
            }
            &.big {
                font-size: 22px;
                // text-decoration: underline;
                // text-transform: uppercase;
                margin-bottom: 2px;
                border-bottom: 1px solid #00000050;
            }
        }
    }
}
