<div class="container {{method.toLowerCase()}}" *ngIf="api">

    <div class="summary" (click)="toggleCard()">
        <type [type]="api.type" (methodChanged)="methodChanged($event)"></type>
        <value [value]="api.endPoint" class="spacer" [font]="'h4'" (valueUpdated)="changeEndPoint($event)"></value>
        <div class="fac">
            <h5>Current Response Code:</h5>
            <status [status]="api.currentResponseCode" [statuses]="currentAvailStatuses" class="paramName"
                (statusChanged)="currentResponseChanged($event)"></status>
        </div>
        <img class="icon" *ngIf="!isCardOpen"
            src="https://cdn.iconscout.com/icon/premium/png-512-thumb/delete-1432400-1211078.png"
            (click)="deleteAPI($event)">
        <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/down.png?alt=media&token=d82bf291-12f4-4bc9-9d3f-0ba3461d634d"
            alt="" class="icon" [class.rotate]="isCardOpen">
    </div>

    <div class="inner" [class.open]="isCardOpen">
        <div class="seperator big"><strong>Request</strong></div>
        <div class="seperator small"><strong>Parameters</strong></div>
        <div class="section row">
            <ng-container>
                <span class="header col-lg-2">Name</span>
                <span class="header col-lg-10">Description</span>
                <span class="d"></span>
                <options-container class="param col-lg-12 row" *ngFor="let param of api.parameters; let i = index;"
                    (delete)="deleteParam(i)">
                    <div class="param row">
                        <value [value]="param.name.toString()" class="paramName col-lg-2" [font]="'p'"
                            (valueUpdated)="onParamKeyUpdate($event, i)"></value>
                        <div class="col-lg-10">
                            <value [value]="param.value" (valueUpdated)="onParamUpdate($event, i)"></value>
                        </div>
                    </div>
                </options-container>
                <div class="param row col-lg-12">
                    <div class="add col-lg-12" (click)="addParam()"> + Add A New Param </div>
                </div>
            </ng-container>
        </div>
        <div class="seperator small">
            <strong>Body</strong>
        </div>
        <div class="section row">
            <ng-container>
                <div class="param col-lg-12 row">
                    <div class="col-lg-12">
                        <value [value]="api.body" (valueUpdated)="onBodyUpdate($event)"></value>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="seperator big"><strong>Responses</strong></div>
        <div class="seperator small"><strong>Response Headers : </strong></div>
        <div class="section row">
            <ng-container>
                <span class="header col-lg-2">Name</span>
                <span class="header col-lg-10">Value</span>
                <span class="d"></span>
                <options-container class="param col-lg-12 row"
                    *ngFor="let respHeader of api.responseHeaders; let i = index;" (delete)="deleteRespHeader(i)">
                    <div class="param row" [class.blur]="!respHeader.isInUse">
                        <value [value]="respHeader.key" class="paramName col-lg-2" [font]="'p'"
                            (valueUpdated)="onRespHeaderKeyUpdate($event, i)"></value>
                        <div class="col-lg-9">
                            <value [value]="respHeader.value" (valueUpdated)="onRespHeaderValueUpdate($event, i)">
                            </value>
                        </div>
                        <div class="col-lg-1">
                            <checkbox (valuechanged)="onRespHeaderAvailCahnge($event, i)" [id]="apiId+'_headerResp_'+i"[initialValue]="respHeader.isInUse"></checkbox>
                        </div>
                    </div>
                </options-container>
                <div class="param row col-lg-12">
                    <div class="add col-lg-12" (click)="addRespHeader()"> + Add A New Header </div>
                </div>
            </ng-container>
        </div>
        <div class="seperator small"><strong>Actual Responses : </strong></div>
        <div class="section row">
            <ng-container>
                <span class="header col-lg-2">Code</span>
                <span class="header col-lg-10">Description</span>
                <span class="d"></span>
                <options-container class="param col-lg-12 row" *ngFor="let response of api.responses;let i = index;"
                    (delete)="deleteResponse(i)">
                    <div class="param row">
                        <status [status]="response.status" class="paramName col-lg-2"
                            (statusChanged)="statusChanged($event, i)"></status>
                        <div class="col-lg-10">
                            <value [value]="response.body" (valueUpdated)="onResponseUpdate($event, i)"></value>
                        </div>
                    </div>
                </options-container>
                <div class="param row col-lg-12">
                    <div class="add col-lg-12" (click)="addResponse()"> + Add A New Response </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>