<input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput name="fileInputLanding">
<div class="container">
    <cyber-button label="Select File" (click)="fileInput.click()">Select File</cyber-button>
    <br><br><br>
    <cyber-button label="New Swagger" (click)="startANewSwagger()">New Swagger</cyber-button>
    <br><br>
</div>