@import "../../styles/all-styles.scss";
.param {
    @include fjc();
    margin-bottom: 20px;
    .add {
        margin: 10px 0 0 0;
        text-align: center;
        padding: 8px;
        padding-bottom: 10px;
        cursor: pointer;
        // font-size: 20px;
        border-radius: 4px;
        border: 1px solid rgba(51, 51, 51, 0.6);
        background: rgba(155, 255, 155, 0.6);
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
}