<ng-container *ngFor="let apiId of _dataServc.apiIds">
  <card>
    <api-card [apiId]="apiId"></api-card>
  </card>
  <br>
</ng-container>
<div class="param row">
  <div class="add col-lg-12" (click)="addAPI()"> + Add A New API </div>
</div>