@import "./systems/grid-systems.scss";
@import "./systems/flex-system.scss";

.spacer {
    flex: 1 1 auto;
}
.d {
    width: 100%;
    margin: 10px -3px;
    border-top: 1px solid #05050540;
}
.icon {
    max-width: 18px;
    max-height: 18px;
}
.blur {
    opacity: 0.65;
}
p {
    margin: 0px 0px 0px 0px;
}
@for $i from 1 through 12 {
    h#{$i} {
        margin: 0px 0px 0px 0px;
    }
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
