<div class="type {{type.toLowerCase()}} disable-select" nosingleclick (dblclick)="showEditApiContainer($event)">
    {{type}}
    <div class="absolute" *ngIf="isInEditState">
        <div nosingleclick *ngFor="let t of types" class="type {{t.toLowerCase()}} disable-select" (click)="selectType($event,t)">
            {{t}}
        </div>
    </div>
</div>
