@import "../../styles/all-styles.scss";

:host {
}
button {
    border-radius: 50%;
}
.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    // min-height: 100vh;
    // min-width: 100vh;
    footer {
        // position: fixed;
        @include fac;
        padding: 10px 30px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        img {
            width: 30px;
            margin: 0 10px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    main {
        flex-grow: 1;
        padding: 20px 40px 60px 40px;
    }
}
