<div class="container">
    <app-header></app-header>

    <main>
        <view *ngIf="(_controllerServc.jsonAvailAsObs$ | async)"></view>
        <landing *ngIf="!(_controllerServc.jsonAvailAsObs$ | async)"></landing>
    </main>

    <footer>
        <span class="spacer"></span>
        <span>courtesy of&nbsp;</span>
        <h4>Puppy Steps</h4>
        <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/potter.png?alt=media&token=d438169d-13f5-400c-920e-040cbe56c11b" alt="">
    </footer>
</div>