*,
*:after,
*:before {
    box-sizing: border-box;
}
$before-color: #fff;
$fill-color: #85ea2d;
$selected-blobl-color: #173647;
@keyframes bounce {
    50% {
        transform: translate3d(0, 25px, 20px);
    }
    100% {
        transform: translate3d(0, 0, 40px);
    }
}
.label {
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
    &.checked {
        display: block;
        opacity: 1;
    }
}
@import "../../styles/all-styles.scss";
input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    &:checked + label {
        width: 75px;
        height: 35px;
        transform: rotate(180deg);
        background-color: $fill-color;
        border: 4px solid $selected-blobl-color;
        &:before {
            width: 20px;
            height: 20px;
            transition: transform 0.25s ease;
            transition-delay: 0.25s;
            // transform: translateX(40px);
            background-color: $selected-blobl-color;
            animation: bounce 1s;
            animation-direction: alternate;
            // animation-iteration-count: infinite;
        }
    }
}

label {
    display: flex;
    width: 60px;
    height: 30px;
    border: 2px solid;
    border-radius: 33em;
    position: relative;
    transition: all 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
    &:before {
        transition: transform 0.25s ease;
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: $before-color;
        border-radius: 50%;
        top: 4px;
        left: 4px;
    }
}
