<div class="fac">
    <span class="label disable-select" [class.checked]="initialVale">{{label}}</span>
    <input type="checkbox" id="toggle" [formControl]="formControl" (click)="valueChanged()"/>
    <label for="toggle"></label>
</div>