@mixin flex {
  display: flex;
  flex-direction: row;
}
.flex {
  @include flex();
}
@mixin fcol {
  display: flex;
  flex-direction: column;
}
.fcol {
  @include fcol();
}
@mixin fc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc {
  @include fc();
}
@mixin fjc {
  display: flex;
  justify-content: center;
}
.fjc {
  @include fjc();
}
@mixin fjs {
  display: flex;
  justify-content: flex-start;
}
.fjs {
  @include fjs();
}
@mixin fje {
  display: flex;
  justify-content: flex-end;
}
.fje {
  @include fje();
}
@mixin fac {
  display: flex;
  align-items: center;
}
.fac {
  @include fac();
}
@mixin fas {
  display: flex;
  align-items: flex-start;
}
.fas {
  @include fas();
}
@mixin fae {
  display: flex;
  align-items: flex-end;
}
.fae {
  @include fae();
}
