$columns: 12;

@function fraction($num) {
    @return 12 / $num;
}

@mixin generateForSize($size) {
    @for $i from 1 through 12 {
        .col-#{$size}-#{$i} {
            width: 100% / fraction($i);
            box-sizing: border-box;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    @include generateForSize("lg");
    @media screen and (max-width: 768px) {
        @include generateForSize("md");
    }
    @media screen and (max-width: 400px) {
        @include generateForSize("sm");
    }
    .element {
        padding-right: 24px;
        margin-bottom: 24px;
    }
}
