.round {
  position: relative;
  label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
    &:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 12px;
    }
  }
  input {
    visibility: hidden;
    &:checked + label {
      background-color: #66bb6a;
      border-color: #66bb6a;
    }
    &:checked + label:after {
      opacity: 1;
    }
  }
}
