<div class="container flex" (mouseenter)="initiateTimer()" (mouseleave)="stopTimer()">
    <div class="spacer">
        <ng-content></ng-content>
    </div>
    <img [class.showOptions]="showOptions" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/delete-1432400-1211078.png" alt="" (click)="deleteClicked()">
</div>