@import "../../styles/all-styles.scss";
.container {
    width: 100%;
    @keyframes show {
        from {
            height: 15px;
            width: 0px;
        }
        to {
            height: 30px;
            width: auto;
        }
    }
    img {
        max-height: 30px;
        transform: scale(0);
        opacity: 0;
        margin-bottom: 25px;
        transition: transform .2s; /* Animation */
        cursor: pointer;
        &.showOptions {
            transform: scale(1);
            opacity: 1;
        }
        // animation: show 1000 linear 0 0;
    }
}