<div *ngIf="!isInEditState" class="summary" [class.font]="!!font" (dblclick)="startEditing($event)">
    <div class="jsonContainer" *ngIf="!font">
        <pre *ngIf="isDataJSON">{{dataAsJson | json}}</pre>
        <p *ngIf="!isDataJSON">{{value}}</p>
    </div>
    <div class="other" *ngIf="font">
        <h1 *ngIf="font == 'h1'" nosingleclick>{{value}}</h1>
        <h2 *ngIf="font == 'h2'" nosingleclick>{{value}}</h2>
        <h3 *ngIf="font == 'h3'" nosingleclick>{{value}}</h3>
        <h3 *ngIf="font == 'h3'" nosingleclick>{{value}}</h3>
        <h4 *ngIf="font == 'h4'" nosingleclick>{{value}}</h4>
        <h5 *ngIf="font == 'h5'" nosingleclick>{{value}}</h5>
        <h6 *ngIf="font == 'h6'" nosingleclick>{{value}}</h6>
        <p *ngIf="font == 'p'" nosingleclick>{{value}}</p>
    </div>
</div>
<ng-container *ngIf="isInEditState">
    <textarea *ngIf="isDataJSON" [(ngModel)]="value" (focusout)="formatData()" (keyup.enter)="formatData()" rows="30" name="textAreaJSON" nosingleclick autofocus #textarea>
    </textarea>
    <input *ngIf="!isDataJSON" [(ngModel)]="value" (focusout)="formatData()" (keyup.enter)="formatData()" name="inputValue" nosingleclick autofocus #input/>
</ng-container>