@import "../../styles/all-styles.scss";
input {
    max-width: 340px;
    width: 100%;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 5px 0;
    min-width: 100px;
    padding: 8px 10px;
}
.summary {
    &.font {
        display: flex;
    }
    cursor: pointer;
}

.jsonContainer {
    overflow-x: auto;
    padding: 0.5em;
    background: rgb(51, 51, 51);
    color: white;
    max-height: 400px;
    // min-height: 6em;
    overflow-y: auto;
    word-wrap: break-word;
    background: #333;
    border-radius: 4px;
    color: #fff;
    font-family: monospace;
    font-size: 12px;
    font-weight: 600;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    word-break: break-word;
    margin-right: 20px;
}
input , textarea {
    min-width: 85%;
}