<header>
    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/swagger.svg?alt=media&token=5f804f2f-f996-462d-a17b-ac9c9fc1baf9" alt=""> -->
    <!-- <img class="logoImage" src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FLogo_light_border_transparent.svg?alt=media&token=d7648da4-10bc-4922-88f9-e32d856b3fa6" alt=""> -->
    <img class="logoImage"
        src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FLogo_light_transparent.svg?alt=media&token=1612d021-eb96-478a-b2e3-6b559dbf702d"
        alt="">
    <!-- <img class="logoImage" src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FLogo_Dark_transparent.svg?alt=media&token=22836675-4f74-4b03-85b5-a8ffb4609bd3" alt=""> -->
    <!-- <img class="logoImage" src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FLogo_Dark_border_transparent.svg?alt=media&token=c678e622-60e8-452d-9d74-76309cd0b649" alt=""> -->
    <h2 class="disable-select">Mock Server</h2> -->
    <span class="spacer"></span>
    <input style="display: none" type="file" (input)="onFileChanged($event)" #fileInput name="fileChangeInput">
    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FIcons%2FUpload_Swagger.svg?alt=media&token=0b1cf5b9-5c98-43c5-9c5c-ad103831daf6"
        alt="" (click)="fileInput.click()"> -->
    <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FIcons%2FUpload_JSON.svg?alt=media&token=cc6cdda2-a0fd-49de-8147-3f73359c9502"
        alt="" (click)="fileInput.click()">
    <!-- <toggle [formControl]="_dataServc.globalEditController" [label]="'In Edit State'"></toggle> -->
    <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FIcons%2FDownload_JSON.svg?alt=media&token=69372b15-6140-4947-894f-5a6957e3ed2a"
        alt="" (click)="downloadJSON()">
</header>