@import '../../styles/all-styles.scss';
header {
    // position: fixed;
    @include fac;
    padding: 10px 30px;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 4px 8px 4px #00000012;
    img {
        width: 80px;
        height: auto;
        margin-right: 10px;
        cursor: pointer;
        &.logoImage {
            height: 70px;
            width: auto;
        }
    }
}
