@import '../../styles/all-styles.scss';
input#menu {
    display: none;
}
:host(menu) {
    width: 40px;
    height: auto;
}
.icon {
    background: #FFF;
    cursor: pointer;
    display: block;
}
label {
    // position: absolute;
    // left: -30px;
    width: 80px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    .menuCont {
        width: 20px;
        height: 30px;
    }
}
// label.icon {
//     position: fixed;
//     z-index: 200;
// }

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: #9FB1BD;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
    bottom: 25px;
    box-shadow: rgb(0 0 0 / 22%) 0px 15px 12px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: #47B74B;
}

.icon .menu::before {
    top: -6px;
}

.icon .menu::after {
    top: 6px;
}

#menu:checked + .icon .menu {
    background: transparent;
}
#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: rotate(0deg);
    margin-right: 10px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 22%) 0px 15px 12px;
    &.plus {
        width: 30px;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &.open {
            transform: rotate(135deg);
            box-shadow: rgb(0 0 0 / 22%) 15px -15px 12px;
        }
    }
}