<input type="checkbox" id="menu" (click)="valueCahnged()" [formControl]="controller" name="menuInput">
<label for="menu" class="icon">
    <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FIcon_light_border.png?alt=media&token=6bfbf061-2a55-4411-b778-5ca7faf40343" alt="">
    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FIcon_light.png?alt=media&token=2f19e851-4796-4ae8-83ee-03a8ab6b5ddd" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FIcon_Dark.png?alt=media&token=4b96e27a-3e1b-400f-afd4-33a79546f7c0" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/storage-50ed6.appspot.com/o/AgMockServer%2FLogos%2FIcon_Dark_border.png?alt=media&token=7063c579-a932-4387-bcc9-c285739e23a3" alt=""> -->
    <div class="menuCont">
        <div class="menu"></div>
    </div>
</label>