@import "../../../../projects/ag-mock-server/src/lib/styles/all-styles.scss";

.globalContainer {
    background-color: #fff;
    position: fixed;
    bottom: 100px;
    right: 80px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    .container {
    width: 100%;
    }
    h1 {
        text-align: center;
    margin: 30px 0 20px 0;
    }
}
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 4px;
    background: rgb(218, 236, 255);
    border-color: #303030;
    &.get {
        background: rgba(97,175,254,.1);
        border-color: #61affe;
        .summary {
            border-color: #61affe;
        }
    }
    &.put {
        background: rgba(252,161,48,.1);
        border-color: #fca130;
        .summary {
            border-color: #b16f23;
        }
    }   
    &.post {
        background: rgba(73,204,144,.1);
        border-color: #49cc90;
        .summary {
            border-color: #49cc90;
        }
    }   
    &.delete {
        background: rgba(249,62,62,.1);
        border-color: #f93e3e;
        .summary {
            border-color: #ae2c2c;
        }
    } 
    .summary {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        padding-right: 20px;
        img {
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: rotate(0deg);
            &.rotate {
                transform: rotate(180deg);
            }
        }
    }
    .inner {
        height: 0;
        max-height: 1200px;
        overflow: hidden;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        &.open {
            // max-height: 500px;
            min-height: 1px;
            height: 100%;
            overflow: scroll;
            transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        .section {
            padding: 20px;
            .param {
                @include fjc();
                margin-bottom: 20px;
                .add {
                    margin: 10px 20px 0 0;
                    text-align: center;
                    padding: 8px;
                    padding-bottom: 10px;
                    cursor: pointer;
                    // font-size: 20px;
                    border-radius: 4px;
                    border: 1px solid rgba(51, 51, 51, 0.6);
                    background: rgba(155, 255, 155, 0.6);
                    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }
            }
        }
        .seperator {
            padding: 20px;
            background-color: white;
            color: black;
            text-align: left;
        }
    }
}