<div class="globalContainer fcol" *ngIf="!!api">

    <h1>This page is just to test if the library is working or not.</h1>
    <br>
    <div class="container {{method.toLowerCase()}}">

        <div class="summary">
            <type [type]="api.type" (methodChanged)="methodChanged($event)"></type>
            <value [value]="api.endPoint" class="spacer" [font]="'h4'" (valueUpdated)="changeEndPoint($event)">
            </value>
            <!-- <img src="./assets/down.png" alt="" class="icon" [class.rotate]="isCardOpen"> -->
        </div>

        <div class="inner open">
            <div class="seperator">Parameters</div>
            <div class="section row">
                <ng-container>
                    <span class="header col-lg-2">Name</span>
                    <span class="header col-lg-10">Description</span>
                    <span class="d"></span>
                    <div class="param col-lg-12 row" *ngFor="let param of api.parameters; let i = index;">
                        <value [value]="param.name.toString()" class="paramName col-lg-2" [font]="'p'"
                            (valueUpdated)="onParamKeyUpdate($event, i)"></value>
                        <div class="value col-lg-10">
                            <value [value]="param.value" (valueUpdated)="onParamUpdate($event, i)"></value>
                        </div>
                    </div>
                    <div class="param row col-lg-12">
                        <div class="add col-lg-12" (click)="addParam()"> + Add A
                            New Param </div>
                    </div>
                </ng-container>
            </div>
            <div class="seperator">Responses</div>
            <div class="section row">
                <!-- 
                    <ng-container>
                        <span class="header col-lg-2">Code</span>
                        <span class="header col-lg-10">Description</span>
                        <span class="d"></span>
                        <div class="param col-lg-12 row" *ngFor="let response of api.responses;let i = index;">
                            <status [status]="response.status" class="paramName col-lg-2"
                                (statusChanged)="statusChanged($event, i)"></status>
                            <div class="value col-lg-10">
                                <value [value]="response.body" (valueUpdated)="onResponseUpdate($event, i)"></value>
                            </div>
                        </div>
                    </ng-container>
                    -->
            </div>
            <div class="seperator flex fje">
                <action-button (click)="makeTheAPICall()">Make The Call</action-button>
            </div>
        </div>
    </div>
</div>